.bg-image {
 background-image: url("../img/bg-image.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 height: 400px;
}
.navbar-nav{
  text-align: center;
}
.center {
  text-align: center;
}
nav{
  background-color: #2E2E2E;
}
.nav-link {color: #48DDE5;}
.citation-block {
  width: 65%;
  margin: auto;
  padding-top: 130px;
}
a:hover{
  text-decoration: none;
  color: white;
}
.button{
  background-color: #48DDE5;
  color: white;
  padding: 10px;
}
.container {
  width: 60%;
}
.author-bloc{
  margin-top: 100px;
}
h2 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}
h1 {
  margin-top: 20px;
  font-size: 25px;
}
hr {
  border-bottom: 3px solid #48DDE5;
  width: 70px;
  margin-top: 5px;
  margin-right: 90%;
}
p {
  font-size: 20px;
  text-align: justify;
}
.marg-top{margin-top: 40px;}
button.btn{
  background-color: #48DDE5;
  color: white;
}
.citation-block{color: white;}
.marg-bottom{margin-bottom: 20px;}
.comment h2 {color: #48DDE5;}
.share img:not(.first){
  margin-left: 20px;
}
span.share{
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.title{
  font-size: 30px;
}
textarea{
  margin-top: 20px;
  resize: none;
  border: 1px solid;
  padding-top: 30px;
  width: 50%;
  height: 100px;
}
.comment a{
  padding: 5px;
  color: #fff;
  background-color: #48DDE5;
  width: 100px;
  display: block;
  text-align: center;
  margin-bottom: 10px;;
}
.logo{
  margin-left: 100px;
  color: white;
}

/* media queries for smartphone screen */

@media screen and (max-width:768px){
  body{
    margin: 0;
    padding: 0;
  }
  .container {
    width: 80%;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 25px;
    margin-top: 15px;
  }
  hr {
    border-bottom: 3px solid #48DDE5;
    margin-right: 85%;
    width: 50px;
  }
  footer h3{
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    padding-top: 20px;
  }
  footer{
    margin: auto;
  }
  input[type="email"]{
    padding: 5px;
    margin-bottom: 20px;
  }
  .citation-block{
    color: #000;
  }
  .author-bloc{
    margin-top: 10px;
  }
  textarea{
    width: 100%;
    height: 100px;
    margin: auto;
  }
  .share{
    margin-bottom: 20px;
  }
  .contact-me h2{
    font-size: 18px;
  }
  form div input{display: block;}
  .contact-form input{
    margin-top: 10px;
  }
  div#reset .contact-form{
    padding: 0;
    margin: 0;
  }
  div#reset .contact-form input{
    margin-left: 0;
    margin-bottom: 15px;
    width: 100%;
  }
  div#reset .contact-form textarea{
    margin: 0;
    padding: 0;
    height: 120px;
    width: 100%;
    text-align: left;
  }
  div#reset2{
    padding: 0;
  }
  form div.input-content{
  width: 100%;
  }
  .contact-form form button{
    margin: 0;
    margin-bottom: 20px;
  }
  div#reset2 .info-contact{width: 100%;}
  .paragraphe{
    margin-top: 10px;
  }

}


/*Medias queries for high screen*/

@media screen and (min-width: 1024px){
  .paragraphe{
    margin-top: 80px;
  }
  nav ul {
    margin-left: 200px;
    width: 80%;
  }
  ul li:not(.first-item){
    padding-left: 120px;
  }
  ul li:nth-child{padding-left: 0;}
  strong{color:#48DDE5;}
  footer {
    margin-left: 30%;
    height: 150px;
    padding-top: 40px;
  }
  footer h3{font-size: 20px;}
  .container-fluid{margin-top: 100px;}
  input[type="email"]{
    padding: 5px;
    width: 300px;
  }
  button.btn{
      margin-left: 10px;
    }
}
.author-image{margin-top: 100px;}
.large-container{
  width: 80%;
  margin: auto;
}

.text-input input:focus, textarea:focus{
  border: 1px solid #48DDE5;
  outline: none;
}

/**************************
Loader
*****************/

.loader{
  width: 40px;
  height: 40px;
  border: 6px solid #e5e5e5;
  border-top: 6px solid grey;
  border-radius: 100px;
  animation: loader 1s linear infinite;
}
@keyframes loader{
  0% {
    transform: translate(-50% , -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50% , -50%) rotate(360deg);
  }
}
#loader, #message{display: none;}
.loader-container{
  position: relative;
  left: 0;
  top: 0;
}
.loader{
  position: absolute;
  right: 50%;
  bottom: 20%;
}
#message{
  position: absolute;
  top: 0;
  left: 35%;
  color: #34c924;
}
/**************************
 contact part
**************************/
.info-contact{
  width: 90%;
  margin-top: 100px;
  padding: 10px;
  background-color: #212529;
  color: white;
}
.contact-form{
  margin-top: 100px;
  width: 100%;
}
.contact-me{
  background-color: #212529;
  color: white;
}
.contact-me h2{
  padding: 7px;
  text-align: center;
}
.contact-form textarea{
  width: 80%;
  height: 150px;
  margin-left: 40px;
}
.contact-form input[type="text"]{
  padding: 5px;
  margin-right: 20px;
}
.contact-form input{
  width: 80%;
  border: 1px solid #212529;
  border-radius: 2px;
  outline: none;
  margin-top: 20px;
  margin-left: 40px;
}
.contact-form button{
  background-color: #212529;
  color: white;
  border: 0;
  padding: 6px;
  margin-top: 10px;
  margin-left: 8%;
}
.block-contact{width: 100px;}
.info-contact span{
  display: block;
  margin: 10px 0;
  font-weight: bold;
}
#validatemessage, #invalidusername, #invalidmail, #infonewsletter{
  color: red;
  font-size: 14px;
  text-align:center;
  margin-top: 5px;
}
#map{
    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 10px;
}
.info-contact a{
  color: white;
}
